.label {
    -fx-font-size: 13px;
    -fx-font-family: "Inter";
    -fx-font-weight: 400;
    -fx-text-fill: #333;
}

.textField {
    -fx-font-size: 13px;
    -fx-pref-width: 150px;
    -fx-pref-height: 35px;
    -fx-font-family: "Inter";
    -fx-font-weight: 400;
    -fx-background-color: #f2f2f2;
}

.datePicker {
    -fx-font-size: 13px;
    -fx-pref-width: 150px;
    -fx-background-color: #f2f2f2;
}

.list {
    -fx-font-size: 14px;
    -fx-background-color: #f2f2f2;
}

.button.add {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-padding: 8 16;
}

.button.add:hover {
    -fx-background-color: #45a049;
}

.button.add:pressed {
    -fx-background-color: #388E3C;
}


.light-radius-box-square {
    -fx-border-color: lightgrey;
    -fx-border-radius: 10;
    -fx-background-color: white;
    -fx-background-radius: 10;
}

.default-text {
    -fx-background-color: white;
    -fx-background-radius: white;
    -fx-text-fill: #4B5563;
    -fx-font-family: "Inter Medium";
    -fx-font-weight: 300;
    -fx-font-size: 14px;
}

.outside-pane {
    -fx-background-color: white;
    -fx-padding: 10 10 10 10;
    -fx-spacing: 15px;
}

.button.cancel {
    -fx-background-color: #FF6B6B;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-padding: 8 16;
}

.button.cancel:hover {
    -fx-background-color: #E74C3C;
}

.button.cancel:pressed {
    -fx-background-color: #C0392B;
}

.line {
    -fx-stroke: lightgrey;
    -fx-opacity: 0.6;
}

.inside {
    -fx-background-color: white;
}

.book-contain {
    -fx-background-radius: 10;
    -fx-background-color: #F5F5F5;
}

.bookname-text {
    -fx-font-size: 14px;
    -fx-font-family: "Inter Medium";
    -fx-font-weight: 400;
    -fx-text-fill: #333;
}

.book-information-text {
    -fx-font-size: 11px;
    -fx-font-family: "Inter Medium";
    -fx-font-weight: 400;
    -fx-text-fill: #333;
}

.search-side {
    -fx-border-radius: 10;
    -fx-border-color: #EEEEEE;
    -fx-background-radius: 10;
    -fx-background-color: white;
    -fx-font-family: "Inter";
    -fx-text-fill: black;
    -fx-font-size: 13;
}

.search-side:hover {
    -fx-border-radius: 10;
    -fx-border-color: #42A5F5;
    -fx-background-radius: 10;
    -fx-background-color: white;
    -fx-font-family: "Inter";
    -fx-text-fill: black;
    -fx-font-size: 13;
}

.icon {
    -fx-fill: #757575;
}

.light-border {
    -fx-border-color: lightgrey;
    -fx-border-radius: 10;
    -fx-background-color: white;
    -fx-background-radius: 10;
}

.error-text {
    -fx-background-color: white;
    -fx-font-size: 12px;
    -fx-text-fill: red;
    -fx-font-family: "Inter";
    -fx-font-weight: 300;
}