.outside-pane {
  -fx-background-color: linear-gradient(to bottom, #E0EFFC, white);
  -fx-border-color: lightgrey;
  -fx-border-radius: 10;
  -fx-background-radius: 10;
}

.book-text {
  -fx-text-fill: #4B5563;
  -fx-font-family: "Inter Medium";
  -fx-font-weight: 400;
  -fx-font-size: 13;
  -fx-alignment: center;
}

.price {
  -fx-text-fill: #E04244;
  -fx-font-family: "Cambria Math";
  -fx-font-weight: 400;
  -fx-font-size: 20;
}

.default-text {
  -fx-text-fill: #4B5563;
  -fx-font-family: "Inter Tight Medium";
  -fx-font-weight: 400;
  -fx-font-size: 13;
}

.line {
  -fx-background-color: lightgrey;
  -fx-opacity: 0.5;
}