.light-radius-box-border {
    -fx-border-color: lightgrey;
    -fx-border-radius: 15;
    -fx-background-color: white;
    -fx-background-radius: 15;
}

.icon {
    -fx-fill: #757575;
}

.default-text {
    -fx-text-fill: black;
    -fx-font-family: "Inter";
    -fx-font-weight: 400;
    -fx-font-size: 12px;
}