.book-text {
    -fx-text-fill: #4B5563;
    -fx-font-family: "Inter Medium";
    -fx-font-weight: 400;
    -fx-font-size: 12;
}

.default-text {
    -fx-text-fill: #4B5563;
    -fx-font-family: "Inter Light";
    -fx-font-weight: 400;
    -fx-font-size: 11;
}

.drop-shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 2, 1);
}

.default-pane {
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #F3F4F6;
}

.icon:hover {
    -fx-fill: #F34539;
    -fx-opacity: 1;
}

.icon {
    -fx-fill: #4B5563;
    -fx-opacity: 0.9;
}

.light-border {
    -fx-border-color: lightgrey;
    -fx-border-radius: 10;
    -fx-background-color: white;
    -fx-background-radius: 10;
}

.drop-shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 2, 1);
}

