.label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.text-field {
    -fx-font-size: 14px;
    -fx-pref-width: 100px;
    -fx-pref-height: 25px;
}

.button {
    -fx-font-size: 14px;
    -fx-pref-width: 150px;
    -fx-pref-height: 35px;
}

.table-view {
    -fx-pref-width: 800px;
    -fx-pref-height: 200px;
}
