.header-table-text {
    -fx-font-weight: 400;
    -fx-font-size: 13;
    -fx-font-family: "Inter Medium";
    -fx-text-fill: #616161;

    -fx-background-color: white;
}

.information-text {
    -fx-font-family: "Inter Medium";
    -fx-font-weight: 400;
    -fx-text-fill: Black;
    -fx-font-size: 12;
    -fx-background-color: white;
    -fx-border-radius: 10;
    -fx-border-color: lightgrey;
    -fx-background-radius: 10;
}

.inside-table {
    -fx-background-color: white;
}

.book-contain {
    -fx-background-radius: 10;
    -fx-background-color: #F5F5F5;
}

.light-border {
    -fx-border-color: lightgrey;
    -fx-border-radius: 10;
    -fx-background-color: white;
    -fx-background-radius: 10;
}

.icon {
    -fx-fill: #757575;
}