.icon {
    -fx-fill: #757575;
}

.information-text {
    -fx-font-weight: 400;
    -fx-font-size: 13;
    -fx-font-family: Inter;
    -fx-text-fill: #616161;
}

.border {
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: lightgrey;
}