.into-side-pane {
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-border-color: lightgrey;
    -fx-border-radius: 20;
    -fx-padding: 10;
}

.default-text {
    -fx-text-fill: black;
    -fx-font-family: "Inter";
    -fx-font-weight: 400;
    -fx-font-size: 12px;
}

.light-radius-box-border {
    -fx-border-color: lightgrey;
    -fx-border-radius: 15;
    -fx-background-color: white;
    -fx-background-radius: 15;
}