.text {
  -fx-text-fill: #4B5563;
  -fx-font-family: "Inter Medium";
  -fx-font-weight: 400;
  -fx-font-size: 20px;
}

.light-radius-border {
  -fx-border-radius: 10;
  -fx-background-radius: 10;
}

.light-radius-box-border {
  -fx-border-color: lightgrey;
  -fx-border-radius: 10;
  -fx-background-color: white;
}

.drop-shadow {
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 2, 1);
}

.outside-pane {
  -fx-background-color: white;
}