.icon {
    -fx-fill: #757575;
}

.information-text {
    -fx-font-weight: 400;
    -fx-font-size: 13;
    -fx-font-family: Inter;
    -fx-text-fill: #616161;
}

.light-border {
    -fx-border-color: lightgrey;
    -fx-border-radius: 10;
    -fx-background-color: white;
    -fx-background-radius: 10;
}