.light-border {
    -fx-border-color: lightgrey;
    -fx-border-radius: 10;
    -fx-background-color: white;
    -fx-background-radius: 10;
}

.header-text {
    -fx-text-fill: #42A5F5;
    -fx-font-family: "Inter Medium";
    -fx-font-weight: 400;
    -fx-font-size: 18px;
    -fx-underline: false;
}

.header-text-selected {
    -fx-text-fill: #0D47A1;
    -fx-font-family: "Inter Medium";
    -fx-font-weight: 400;
    -fx-font-size: 18px;
}


.line-selected {
    -fx-stroke: #0D47A1;
    -fx-stroke-width: 2;
}

.line {
    -fx-stroke: #BBDEFB;
    -fx-stroke-width: 2;
}

.drop-shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 2, 1);
}

.outside-pane {
    -fx-background-color: white;
}

.information-text {
    -fx-font-weight: 400;
    -fx-font-size: 15;
    -fx-font-family: "Inter Medium";
    -fx-text-fill: #616161;
    -fx-border-color: lightgrey;
    -fx-border-radius: 10;
    -fx-background-color: white;
    -fx-background-radius: 10;
}

.choose-text {
    -fx-font-weight: 400;
    -fx-font-size: 15;
    -fx-font-family: "Inter Medium";
    -fx-text-fill: #616161;
}

.account-text {
    -fx-font-weight: 400;
    -fx-font-size: 18;
    -fx-font-family: "Inter Medium";
    -fx-text-fill: black;
}