.outside-pane {
  -fx-background-color: white;
  -fx-border-color: lightgrey;
  -fx-border-radius: 5;
  -fx-background-radius: 5;
}

.book-text {
  -fx-text-fill: #4B5563;
  -fx-font-family: "Inter Medium";
  -fx-font-weight: 400;
  -fx-font-size: 13;
}

.star-empty {
  -fx-fill: white;

}

.star-fill {
  -fx-fill: #E0D777;
}

.price {
  -fx-text-fill: #E04244;
  -fx-font-family: "Cambria Math";
  -fx-font-weight: 400;
  -fx-font-size: 15;
}
