.default-text {
    -fx-text-fill: black;
    -fx-font-family: "Inter";
    -fx-font-weight: 400;
    -fx-font-size: 12px;
}

.light-radius-box-border {
    -fx-border-color: lightgrey;
    -fx-border-radius: 15;
    -fx-background-color: white;
    -fx-background-radius: 15;
}

.moment-text {
    -fx-background-radius: 20;
    -fx-text-fill: white;
    -fx-font-family: "Inter Medium";
    -fx-font-size: 13;
    -fx-font-weight: 400;
}

.drop-shadow {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.2, 0, 0);
}