.background {
    -fx-background-color: white;
}

.header-table-text {
    -fx-text-fill: white;
    -fx-font-family: "Inter Medium";
    -fx-font-weight: 400;
    -fx-font-size: 15px;
}

.header-table-contain {
    -fx-background-radius: 10;
    -fx-background-color: #52A198;
    -fx-font-size: 15px;
}

.title {
    -fx-font-family: "Inter Medium";
    -fx-font-weight: 400;
    -fx-text-fill: #42A5F5;
    -fx-font-size: 22;
}

.default-text {
    -fx-font-size: 14px;
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-padding: 5px;
}

.add-button {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-text-fill: #2196F3;
    -fx-font-family: "Inter Medium";
    -fx-font-weight: 400;
    -fx-font-size: 15px;
}

.search-button {
    -fx-background-color: #4CAF50;
    -fx-background-radius: 20;
    -fx-text-fill: white;
    -fx-font-family: "Inter Medium";
    -fx-font-weight: 400;
    -fx-padding: 8 16;
    -fx-font-size: 14;
}

.search-button:hover {
    -fx-background-color: #45a049;
}

.search-button:pressed {
    -fx-background-color: #388E3C;
}

.drop-shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 2, 1);
}

.table-header {
    -fx-text-fill: #2F60F5;
    -fx-font-family: "Inter Medium";
    -fx-font-weight: 400;
    -fx-font-size: 15px;
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-padding: 5;
}

.information-text {
    -fx-text-fill: black;
    -fx-font-family: "Inter";
    -fx-font-weight: 400;
    -fx-font-size: 12px;
}

.light-border {
    -fx-border-color: lightgrey;
    -fx-border-radius: 10;
    -fx-background-color: white;
    -fx-background-radius: 10;
}