.root {
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-font-family: "Inter Medium";
    -fx-background-radius: 10;
    -fx-background-color: white;
}

.choose-text {
    -fx-font-weight: 400;
    -fx-font-size: 15;
    -fx-font-family: "Inter Medium";
    -fx-text-fill: black;
}

.text-field, .password-field, .combo-box {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-padding: 5;
    -fx-font-size: 14px;
    -fx-border-color: #CCCCCC;
    -fx-border-width: 1px;
}

.add-button {
    -fx-background-color: #2196F3;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-padding: 10 20;
    -fx-font-weight: 400;
    -fx-font-family: "Inter Medium";
}

.add-button:hover {
    -fx-background-color: #1976D2;
}

.add-button:pressed {
    -fx-background-color: #0D47A1;
}

.cancel-button {
    -fx-font-size: 15px;
    -fx-background-color: white;
    -fx-text-fill: red;
    -fx-border-color: red;
    -fx-border-radius: 10px;
    -fx-background-radius: 5px;
}

.cancel-button:hover {
    -fx-background-color: white;
    -fx-text-fill: red;
    -fx-border-color: red;
    -fx-border-radius: 10px;
    -fx-background-radius: 5px;
}

.cancel-button:pressed {
    -fx-background-color: white;
    -fx-text-fill: red;
    -fx-border-color: red;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 5px;
}
